/*
Project: Bearded Nemesis
Version: Prototype - 1.0
Author, front-end: Christophe Zlobinski-Furmaniak
Author, design: Christophe Zlobinski-Furmaniak
Last edited: 02/24/2014

Description: 
**1. Html5doctor.com Reset Stylesheet + HTML5 Normalization 
**2. Less Rules
**3. Project Stylesheet 
*/

/* **1. Html5doctor.com Reset Stylesheet + HTML5 Normalization  */
@import (less) "reset.css";

/* -------------------------------------
//	LESS PreCSSProcessor
////////////////////////////////////////
------------------------------------- */
@import "elements"; /* LESS Elements */
@import "grid"; /* Grid rules */
@import "main_colors"; /* Main colors and neutrals */
@import "gradients"; /* Gradients and shadows effects */
@import "fonts"; /* Fonts and typography style */

/* -------------------------------------
//	CSS
////////////////////////////////////////
------------------------------------- */
/* Typography 
------------------------------------- */

/* -------------------------------------
	Base
------------------------------------- */
html { 
	position: relative;
	font-size: 62.5%; /* As browser default size is 16px, we scale down to 10px to simplify relatives sizes use (10px = 1rem, 12px = 1.2rem, 14px = 1.4rem, etc) */
	overflow-x: hidden;
}

body {
	background-color:#131313;
	font-family:"open sans", sans-serif;
	padding-bottom:100px;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	padding: @vam @gm;
	width: @wrapper_px;
}

/* Supprime les cadres focus de Firefox */
a { outline: none; border: none; text-decoration: none; .tr_out;
    &:hover { 
        .tr_in;
    }
}
:focus{-moz-outline-style: none;}

img {
	margin: 0;
}

/* -------------------------------------
	Same elements
------------------------------------- */
.none { // For development purpose
	display: none;
}

nav {
	position: fixed;
	width: 100%;
	height: 60px;
	z-index: 999;
	

	&.active{
		background-color: black;
		-webkit-transition: background .25s ease-in; /* Webkit */
		transition: background .25s ease-in; /* Official Syntax */
	}
}

header {
	position: absolute;
	width: 100%;
	height: 800px;
	background: url('../_images/header.jpg') 0 0 no-repeat;
	z-index: 998;
	.bkg;

	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('../_images/slash.png') 0 0 repeat fade(@b_warm, 50%);
		.op(.3);
	}
}

/* -------------------------------------
	Loader
------------------------------------- */
#progress {
	position: fixed;
	width: 100%;
	height: 100%;
	padding-top: 25%;
	font-size: 5em;
	text-align: center;
	background: fade(#fff, 90%);
	z-index: 1000;
}

/* -------------------------------------
	Canvas - General styles
------------------------------------- */
section{
	position: absolute;
	width: 100%;
	top: 800px;
}

.canvas-technique {
  position: relative;
  height: 800px;
  width: 120%;
  overflow:hidden;
  .perspective(150px);

  	canvas {
	  position: relative;
	  width: 120%;
	  height: 120%;
	  top: -15%;
	  .box-model;	
	}
	
	&:nth-child(odd) canvas{
		left: -20%;
		transform: rotate3d(0, 1, 0, 2deg);
	}
	
	&:nth-child(even) canvas{
		left: -20%;
		transform: rotate3d(0, 1, 0, -2deg);
	}
}

article:hover{

	
}

section:hover > article {
	.op(.3);
	.elements-embossed;
	
	&:before{
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: url('../_images/slash.png') 0 0 repeat fade(@b_warm, 50%);
		.op(.8);
	}
	
	canvas {
		z-index: -1;
	}
}

section:hover > article:hover {
	.op(1);
	.inner_shadow;
	
	&:before{
		display: none;
	}
	
	canvas {
		z-index: 1;
	}
}